<div class=" content">
    <div class=" row">
        <div class="col col-md-12">
        <div id="card card-chart p-2">
<div id="chart">
<button (click)="init()">Init</button>
<!-- <button (click)="addSerie()">Add Serie</button>
<button (click)="removeSerie()">Remove Serie</button> -->
<button (click)="addPoint()">Add Point</button>
<button (click)="removePoint()">Remove Point</button>
<!-- <button (click)="changeType()">Update Chart</button> -->
<div id="card card-body">
<div [chart]="chart"></div>
</div>
</div>
</div>
</div>
</div>
    <div class=" row">
    <div class="col col-md-6">
        <div id="card card-chart"> 
        <!-- <div class=" card-body"> -->
            <div id="chart-bar-horizontal">bar chart</div>
        <!-- </div> -->
        </div>
    </div>
    <div class="col col-md-6">
        <div id="card card-chart">
            <div id="chart-bar">bar chart vertical</div></div></div>
    </div>
    </div>
